html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow-x:hidden
}

.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  box-sizing: border-box;
}

.last-about {
  margin-bottom:7.5rem;
}

.skills-row .icon {
  max-width: 100%;
  height: auto;
}

.img-wrapper {
  background-color: #ebedef;
  margin-right: 50px;
  border-radius: 10px;
}

.flex-md-row-reverse .img-wrapper {
  margin-right: 0;
  margin-left: 20px;
}

.wond-head-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 0;
  object-fit: cover;
  width: 100%;
}

footer {
  margin-top: auto;
}

.full-width-section,
.full-width-bg {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

@media (min-width: 992px) {
  .row.text-center.skills-row.g-4 > .col-4.col-md-4.col-lg-2.mb-3 {
    flex: 0 0 auto; 
    width: 12.5%; 
    padding-right: calc(var(--bs-gutter-x, 1.5rem) * .5);
    padding-left: calc(var(--bs-gutter-x, 1.5rem) * .5);
    margin-top: var(--bs-gutter-y, 0);
  }
}
