
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.container2
  { background-color: #d0d3d6;
   max-width: 1200px;
   
  }

  .full-width-bg {
  background: #f8fafc;
  width: 100vw;
position: relative;

}

.profile-img 
    { width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius: 12px; 
        }
      

.skills-row {
  --bs-gutter-x: 9.5rem; 
  --bs-gutter-y: 2.5rem; 
}

.icon {
  display: block;
  margin: 0 auto;   
}

.last-about {
  margin-bottom:7.5rem; 
}
.wond-head-img {
  width: 300px;  
  height: 260px;  
  object-fit: cover;
    display: block;
  margin: 0;
  padding: 0;
}
footer {
  margin-top: auto;
}
  